@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
        font-family: 'Open Sans', sans-serif;
  
}

h1.title {
  visibility: hidden;
  font-size: 0px;
}

.my-tbl {
s  background-color: rgba(0, 0, 0, 0);
}

div.main-container {
     margin: auto;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
